.text-container {
  margin: 4rem 6rem;
  text-align: start;
}
.text-container h1 {
  padding-bottom: 1rem;
}
.text-container p {
  padding-bottom: 2rem;
}

@media screen and (max-width: 850px) {
  .text-container {
    margin: 4rem 2rem;
  }
}