.NavbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 10px;
  padding: 0 30px;
  position: fixed;
  top:20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
}

.navbar-logo {
  color: #222;
  font-size: 2rem;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 8px;
  list-style: none;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  border-radius: 8px;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}
.nav-links:hover {
  background-color: #01959a;
  color: white;
  transition: all 0.2s ease-in-out;
}
.SinInBtn {
  text-decoration: none;
  border-radius: 10px;
  color: #222;
  background-color: #E9E8E8;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.7rem 1.7rem;
  white-space: nowrap;
}
.SinInBtn:hover {
  opacity: 0.85;
  transition: all 0.2s ease-in-out;
}

.nav-links i {
  padding-right: 10px;
}

.menu-icons {
  display: none;
  cursor: pointer;
}


@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }
  .nav-menu {
    background-color: #fff;
    border-radius: 8px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 90px;
    right: -100%;
    margin: 0;
    transition: 0.2s ease-in-out;
    padding: 0.8rem 0;
  }

  .nav-menu.active {
    right: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.2s ease-in-out;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.3);
  }

  .nav-links {
    display: block;
    width: 90vw;
    font-size: 1.2rem;
    padding: 2rem 0;
    border-radius: 8px;
  }
  .nav-links:hover {
    background-color: #01959a;
    transition: none;
  }
  .SinInBtn {
    display: block;
    width: 90vw;
  }
  .SinInBtn:hover {
    opacity: unset;
  }

  .menu-icons {
    display: block;
  }
}